TESTIF/schemas/FundstransferDetails/TESTIF-FundstransferDetails.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/event/TESTIF/FundstransferDetails" elementFormDefault="qualified" targetNamespace="http://www.temenos.com/T24/event/TESTIF/FundstransferDetails" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="FundstransferDetails"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="creditAcctNo" minOccurs="0" maxOccurs="1"/><xsd:element ref="creditAmount" minOccurs="0" maxOccurs="1"/><xsd:element ref="debitAcctNo" minOccurs="0" maxOccurs="1"/><xsd:element ref="debitAmount" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:string"><xsd:annotation><xsd:appinfo><t24source application="FUNDS.TRANSFER" field="@ID"/></xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="creditAcctNo" type="xsd:string"><xsd:annotation><xsd:appinfo><t24source application="FUNDS.TRANSFER" field="CREDIT.ACCT.NO"/></xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="creditAmount" type="xsd:string"><xsd:annotation><xsd:appinfo><t24source application="FUNDS.TRANSFER" field="CREDIT.AMOUNT"/></xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="debitAcctNo" type="xsd:string"><xsd:annotation><xsd:appinfo><t24source application="FUNDS.TRANSFER" field="DEBIT.ACCT.NO"/></xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="debitAmount" type="xsd:string"><xsd:annotation><xsd:appinfo><t24source application="FUNDS.TRANSFER" field="DEBIT.AMOUNT"/></xsd:appinfo></xsd:annotation></xsd:element></xsd:schema>